/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

img {
    max-width: 100%;
}

/* a {
    text-decoration: none;
    color: inherit;
} */

ul {
    list-style-type: none;
}

/* UTILS */

.container {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    row-gap: 2rem;

    margin-left: -0.5rem;
    margin-right: -0.5rem;
}

[class*='col'] {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.col-1 {
    width: 100%;
}

.col-1-2 {
    width: calc(100% / 2);
}

.col-1-3 {
    width: calc(100% / 3);
}

.col-1-4 {
    width: calc(100% / 4);
}

.col-1-5 {
    width: calc(100% / 5);
}

.col-2-3 {
    width: calc(100% / 3 * 2);
}

.wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

.page-header {
    position: sticky;
    top: 0;
}

.row-header {
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col-header *{
    display: flex;
    align-items: center;
    gap: 35px;
    font-size: 15px;
}

.links-header .btn-header {
    background-color: #0062FE;
    color: white;
    padding: 10px 15px;
    text-align: center;
}

/* MAIN */

.top-main {
    background-color: #B4D0E7;
    height: 700px;
    display: flex;
    justify-content: center;
    position: relative;
}

.top-main > .container {
    position: absolute;
    top: 30px;
}

.title-top{
    font-size: 4.5rem;
    font-weight: 900;
}

.top-main .row {
    padding-top: 50px;
    font-size: 15px;
}

.top-main .row .col-1-3 {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.top-main .row .col-1-3 p {
    line-height: 1.5rem;
}

.btn-top {
    background-color: #0062FE;
    color: white;
    padding: 10px 15px;
    width: fit-content;
}

.arrow {
    padding-top: 20px;
    font-size: 50px;
}

.border-top {
    margin-top: 100px;
    padding: 1px;
    background-color: lightgray;
}

.container.page-content {
    max-width: 1000px;
}

.title-content {
    padding: 50px 0;
    font-size: 2.5rem;
    font-weight: bold;
}

.row-mode {
    display: flex;
    gap: 20px;
    font-size: 15px;
}

.mode {
    display: flex;
    gap: 5px;
}

.mode-button-1 {
    padding: 6px;
    border-radius: 50%;
    border: 6px solid #0466F3;
}

.mode-button-2 {
    padding: 10px;
    border-radius: 50%;
    border: 1px solid lightgray;
}

.container.page-content .plans {
    padding: 50px 0;
}

.container.page-content .row{
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    gap: 50px;
}

.plans .row > .col-1-3 {
    border: 1px solid lightgray;
}

.plans > .row {
    padding-bottom: 50px;
}

.top-plan {
    text-align: center;
    font-size: 15px;
    padding: 5px 0;
    border-bottom: 1px solid lightgray;
}

.info-plan {
    padding: 20px;
    font-size: 15px;
}

.info-plan .plan {
    font-size: 1.5rem;
    font-weight: bold;
}

.info-plan > .title-plan {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title-plan > .price {
    font-weight: bold;
}

.title-plan > .period {
    color: gray;
}

.info-plan > .features {
    padding: 40px 0;
}

.info-plan > .features ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.info-plan > .links-plan {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.links-plan > .btn-plan {
    text-align: center;
    padding: 10px 15px;
    background-color: #0161FE;
    color: white;
}

.links-plan > .divider {
    background-color: lightgray;
    padding: 1px;
    width: 25%;
}

.info-plan > .highlights {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.info-plan > .highlights ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.info-plan > .highlights i {
    color: #0161FE;
}

.plans .col-1 {
    border: 1px solid lightgray;
}

.plans .col-1 > .info-plan {
    display: flex;
    justify-content: space-between;
}

.info-plan .contacts {
    font-weight: bold;
    padding: 20px 0;
}

.col-1 .btn-plan {
    text-align: right;
    padding: 10px 35px;
    background-color: #0161FE;
    color: white;
    width: fit-content;
}

.col-1 > .info-plan > .col-1-3 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.partner {
    padding: 50px 0;
    font-size: 15px;
}

.row-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.row-btn {
    padding: 10px 15px;
    color: black;
    border: 1px solid black;
    width: fit-content;
}

.partner .col-1-3 {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.operations {
    font-size: 15px;
}

.operations > .row {
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
}

.operations .row-title {
    padding-bottom: 30px;
}

.more > .row {
    padding-bottom: 150px;
}

/* FOOTER */

.section-footer {
    background-color: black;
    color: white;
}

.section-footer .row {
    padding: 100px 0;
}

.section-footer .row-title {
    padding: 30px 0;
}

.section-footer ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.section-footer .divider {
    background-color: lightgray;
    padding: 1px 0;
    width: 10%;
}

.language {
    padding: 50px 0;
}